#include "./v01.dtsi"

&nice_view_spi {
    cs-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
};

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    row-gpios
    = <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Higher Column
    , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Lower Column
    ;
    col-gpios
    = <&pro_micro 6 GPIO_ACTIVE_HIGH>   // Leftest Column
    , <&pro_micro 5 GPIO_ACTIVE_HIGH>   //
    , <&pro_micro 4 GPIO_ACTIVE_HIGH>   //
    , <&pro_micro 10 GPIO_ACTIVE_HIGH>  //
    , <&pro_micro 16 GPIO_ACTIVE_HIGH>  // Rightest Column
    ;
};
