#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Home row mods configuration
&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q       &kp W      &kp F       &kp P       &kp B   &kp J      &kp L       &kp U       &kp Y      &kp APOS
    &hm LGUI A  &hm LALT R &hm LCTRL S &hm LSHFT T &kp G   &kp M      &hm RSHFT N &hm RCTRL E &hm RALT I &hm RGUI O
    &kp Z &kp X &kp C      &kp D       &kp V       &kp K   &kp H      &kp COMMA   &kp DOT     &kp FSLH
                &kp ESC    &lt 1 SPC   &kp TAB     &kp A &lt 2 B &kp C
            >;
        };
        nav_layer {
            bindings = <
    &kp C_AC_REDO &kp C_AC_PASTE &kp C_AC_COPY &kp C_AC_CUT &kp C_AC_UNDO &trans    &kp C_AC_HOME &kp UP &kp END   &kp PG_UP
    &kp LGUI      &kp LALT       &kp LCTRL     &kp LSHFT    &trans        &kp CAPS  &kp LEFT  &kp DOWN   &kp RIGHT &kp PG_DN
    &bt BT_CLR    &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3  &kp INS   &trans    &trans     &trans    &trans
                  &trans         &trans        &trans       &kp A       &kp B  &kp C
            >;
        };
        num_sym_layer {
          bindings = <
    &kp LBKT  &kp N7 &kp N8   &kp N9 &kp RBKT  &kp LBRC  &kp AMPS &kp STAR  &kp LPAR  &kp RBRC
    &kp SEMI  &kp N4 &kp N5   &kp N6 &kp EQUAL &kp COLON &kp DLLR &kp PRCNT &kp CARET &kp PLUS
    &kp GRAVE &kp N1 &kp N2   &kp N3 &kp BSLH  &kp TILDE &kp EXCL &kp AT    &kp HASH  &kp PIPE
                     &kp LPAR &kp N0 &kp RPAR  &trans    &trans   &trans    &trans
          >;
        };
    };
};
