#include <physical_layouts.dtsi>

/ {
    splitkb_5col_layout: splitkb_5col_layout {
        compatible = "zmk,physical-layout";
        display-name = "5 Column";

        keys  //                     w   h    x    y     rot    rx    ry
            // Left hand - Top row (5 keys)
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   25       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   25       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            // Right hand - Top row (5 keys)
            , <&key_physical_attrs 100 100  600   50       0     0     0>
            , <&key_physical_attrs 100 100  700   25       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900   25       0     0     0>
            , <&key_physical_attrs 100 100 1000   50       0     0     0>
            // Left hand - Home row (5 keys)
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  100  125       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  125       0     0     0>
            , <&key_physical_attrs 100 100  400  150       0     0     0>
            // Right hand - Home row (5 keys)
            , <&key_physical_attrs 100 100  600  150       0     0     0>
            , <&key_physical_attrs 100 100  700  125       0     0     0>
            , <&key_physical_attrs 100 100  800  100       0     0     0>
            , <&key_physical_attrs 100 100  900  125       0     0     0>
            , <&key_physical_attrs 100 100 1000  150       0     0     0>
            // Left hand - Bottom row (5 keys)
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  100  225       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  225       0     0     0>
            , <&key_physical_attrs 100 100  400  250       0     0     0>
            // Right hand - Bottom row (5 keys)
            , <&key_physical_attrs 100 100  600  250       0     0     0>
            , <&key_physical_attrs 100 100  700  225       0     0     0>
            , <&key_physical_attrs 100 100  800  200       0     0     0>
            , <&key_physical_attrs 100 100  900  225       0     0     0>
            , <&key_physical_attrs 100 100 1000  250       0     0     0>
            // Left thumb cluster (3 keys)
            , <&key_physical_attrs 100 100  150  350       0     0     0>
            , <&key_physical_attrs 100 100  250  350       0     0     0>
            , <&key_physical_attrs 100 100  350  350       0     0     0>
            // Right thumb cluster (3 keys)
            , <&key_physical_attrs 100 100  650  350       0     0     0>
            , <&key_physical_attrs 100 100  750  350       0     0     0>
            , <&key_physical_attrs 100 100  850  350       0     0     0>
            ;
    };

    splitkb_position_map {
        compatible = "zmk,physical-layout-position-map";

        complete;

        thirtysix {
            physical-layout = <&splitkb_5col_layout>;
            positions
                = < 0  1  2  3  4     5  6  7  8  9>
                , <10 11 12 13 14    15 16 17 18 19>
                , <20 21 22 23 24    25 26 27 28 29>
                , <      32 33 34    35 36 37      >;
        };
    };
};
